# Introduction To Python

## Why python? 

* Written by Guido van Rossum in 1991.

* Was named after BBC Show **Monty Python's Flying Circus**

* Practical uses of python.

## Advantages of Python

* **The Code looks similar to how Humans think.****


* **Python is free and open-source** - open source means that's it's source code is available to public . we can download it , change it ,use it and distribute it. This feature is called FLOSS (Free Libre and open source software.)


* **Portable** - we does not need to change the code that's written in windows operating system to run it on mac or any other operating system.


* **It is well supoorted and has numerous online content.**


* **It is Dynamically typed**  - meand the type of value is decided at runtime , this is why de don't need to specify the data type while decalaring it.


* **It has many powerfull libraries for data manipulation and analysis , data visulatization.**


* **Python has Machine Learning.**

## Downloading and Installing

* It can be downloaded from Python official website download section. - **https://www.python.org/downloads**

* A executable file (.exe) will be download and upon running it python will be installed in machine.

## File Extension  - 
   **.py**

### IDE (Integrated Development Environment) - Is a the Text Editior for writing the Program ( Code ).

## Python Distributions

- Python software foundation does regular releases of python on its offical webstie . we call them standard distribution.

- Other python distribution are downloaded as per person's convenience , they also have many 3^rd party libraries pre installed.

Examples of python distribution - 

* Anaconda from continuum analytics
* Pocket python
* Portable Python - run python from USB device.
* Active python from active state.

## Anaconda Python Distribution

- We can download it from  - https://www.anaconda.com/distribution/  , use graphical installer
- A .exe file will be downloaded ,run it and Anaconda will be installed. 
- Run anaconda distribution.

### Lets have a brief introduction to Anaconda navigator and Jupyter notebook.

# Operators - 

**Arithmetic Operators**

**Assignment  Operators**

**Comparsion Operators**

**Logical  Operators**

**Identity Operators**

**Membership Operators**

# Operators
They help us in performing operations

## Arithmetic Operators

- **+**  : addition

- **-**  : subtraction

- [ * ] : multiplication

- **/**  : division

- **%**  : modulus  - gives remainder

-   **   : Exponentiation

- **//** : Floor division - gives quoitent

## Data types

* Integers

* float

* string

* boolean

### Intergers

In [4]:
100   # shift + enter/return  -> for running the cell

100

In [8]:
1 + 1

2

In [9]:
1 * 3

3

In [10]:
1 / 2

0.5

In [11]:
2 ** 4

16

In [12]:
4 % 2

0

In [13]:
5 % 2

1

In [14]:
print(5 % 2)

1

In [15]:
15 // 2

7

In [17]:
(2 + 3) * (5 + 5)

50

### Float

In [18]:
1.0

1.0

In [19]:
1.25 - 8.0

-6.75

In [20]:
1 + 1.0

2.0

### Strings

In [22]:
'This is a sentence and in python it is treated as a string'

'This is a sentence and in python it is treated as a string'

In [23]:
'string with single quotes'

'string with single quotes'

In [24]:
"string with double quotes"

'string with double quotes'

In [25]:
'He doesn't like Mangoes'
# gives syntax error beacuse single quotes used inside of single quotes

SyntaxError: invalid syntax (3762654407.py, line 1)

In [26]:
"He doesn't like Mangoes"
# using single quotes within "" quotes

"He doesn't like Mangoes"

In [27]:
'He doesn\'t like Mangoes'  # \ -> escape char

"He doesn't like Mangoes"

### Booleans

In [28]:
True    # 1

True

In [29]:
False   # 0

False

### Variables / Placeholders

In [30]:
this_is_my_placeholder_name = 3454397345034

In [32]:
this_is_my_placeholder_name

3454397345034

In [42]:
# Cannot start with number , special charaters
# Cannot have special charaters , spaces , bools in anywhere
# but can have number in between or end
name_of_var = 2

In [43]:
print(name_of_var)

2

In [44]:
name_of_var + 5

7

In [45]:
name_of_var

2

In [62]:
x = 2
y = 3

x,y = 2,3  # there should be equal no. on both sides also called unpacking

In [63]:
z = x + y

In [64]:
z

5

In [65]:
x

2

In [66]:
# variable reassigned
x = 10
x

10

### In-build functions
python comes with many inbuild functions.

### Printing

In [1]:
x = 'hello'
y = 3

In [7]:
print(x)

hello

In [8]:
print(x , y , y + y , y**2) # shift + tab  inside brackets --> opens doc

hello 3 6 9

In [9]:
print(x , y , y + y , y**2 , sep = ' , ') # shift + tab  inside brackets --> opens doc

hello , 3 , 6 , 9

In [44]:
print('Hello World')

Hello World

In [45]:
print('Hi_python' , x , 3.0 , 'This_is_test')  # shift + tab --> opens doc

Hi_python hello 3.0 This_is_test

### **Type**

In [10]:
type( 2 )

int

In [47]:
type(True)

bool

In [11]:
print(type(True))

<class 'bool'>

In [48]:
type('all')

str

In [49]:
x = 8.0
type(x)

float

### Inter-converting string , float and int

**Converting to int**

only the values which are number can be converted to int

In [14]:
s = '10'

In [15]:
int(s)

10

In [52]:
s

'10'

In [53]:
s = int(s)

In [54]:
s

10

In [55]:
v = int(s)

In [56]:
v

10

In [57]:
f = 10.0
fc = int(f)

In [58]:
print(fc)

10

In [59]:
print(    type(f)    ,    type(fc)    )

<class 'float'> <class 'int'>

In [60]:
s = int('hello')

ValueError: invalid literal for int() with base 10: 'hello'

**Converting to float**

only the values which are number can be converted to float

In [61]:
print(   float('1.0')   )
print(   float(10)      )
print(   float('34')    )

1.0
10.0
34.0

**Converting to string**

any value can be converted to float

In [62]:
str(1.0)

'1.0'

In [63]:
str(True)

'True'

In [64]:
print(   type(  str(1.0)   )    )

<class 'str'>

**Converting to Bool**

In [65]:
bool("True")

True

In [66]:
type(  bool('True')  )

bool

In [67]:
bool(1)

True

In [68]:
bool(100)

True

In [69]:
# Falsy values -> '' , 0 , anything except falsy values will be converted to True using bool function

In [17]:
bool(0)  # ''

False

### Comments
They are used for giving a information about anything . They come in action when # i put before a line code

when the program runs seeing the # character the program skips that line.

In [18]:
print(2 + 3) # this is footnote/comment for what is happening in this line - so addition 
print(3 + 8)

5
11

In [19]:
# this is my comment 
but i can not carry on with the comment in this line

SyntaxError: invalid syntax (1759759399.py, line 2)

In [73]:
''' used for multi line comment also called doc string.\
This is a multi line comment\
'''

' used for multi line comment also called doc string.This is a multi line comment'

In [23]:
# comments are also used for making code inactive
# print(5 + 6)
print(6 + 11)

17

In [75]:
5 + 6 
6 + 7 
# shortcut in jupyter notebook for putting # and removing # in start of line is  - ctrl + /

11

## Assignment Operators
**=**  : assigns a value to a variable

**+=**  : c += a   is equivalent to c = c + a

**- =**  : c -= a   is equivalent to c = c - a

**(*=)**  : c *= a   is equivalent to c = c * a

**/=**  : c /= a   is equivalent to c = c / a

**%=**  : c %= a   is equivalent to c = c % a

**//=**  : c //= a   is equivalent to c = c // a

In [76]:
x = 1 
y = 2

In [77]:
x = x + y

In [78]:
x

3

In [79]:
x += y # x = x + y   
x

5

In [80]:
x -= y # x = x - y
x

3

In [81]:
x //= y # x = x // y
x

1

In [82]:
x *= y # x = x * y

In [83]:
x

2

# Operators

## Comparison Operators - 
They compares the values and returns bool if required

**==** : are equal

**!=** : not equal

**>** : greater than

**<** : smaller than

**>=** : greater than or equal to

**<=** : smaller than or equal to

In [84]:
1 > 2

False

In [85]:
type(1 > 2) # type(False)

bool

In [86]:
1 < 2

True

In [87]:
1 == 1

True

In [88]:
1 != 1

False

In [89]:
1 >= 1

True

In [90]:
1 <= 4

True

In [91]:
'hi' == 'bye'

False

In [92]:
'hi' != 'bye'

True

In [93]:
'a' == 'A'

False

# Data Structures / Data Containers / Sequence / Iterables

* Lists

* Dictionaries

* Tuples

* Sets

## Lists
Data type that stores any kind of data.

Are recognized by square brackets  [    ]

In [94]:
li = []  # empty list

In [95]:
type(li)

list

In [96]:
market_list = [ 'chips' , 'cold drink' , 3  , 'anything'  , 3.0  , True  ]
market_list

['chips', 'cold drink', 3, 'anything', 3.0, True]

In [97]:
type(market_list)

list

In [98]:
a = [ [1,2]  ,   [45,25,43]  ,  89 , 'hi' , 12.0 ]
a

[[1, 2], [45, 25, 43], 89, 'hi', 12.0]

### Tuples
used for storing any data type.
recoznized by small brackets ().

In [99]:
a = ( 1 , 2 , 3  , 'hi' , [1,2] , 333.33 , True  )
a

(1, 2, 3, 'hi', [1, 2], 333.33, True)

In [100]:
type(a)

tuple

In [101]:
(44) # It is not a tuple it is just 44 written in brackets.
(44,)  # it is a tuple ,due to trailing comma after 44 within the brackets.

(44,)

In [102]:
( (1,2) , [45,25,43] , 89 , 'ko' )

((1, 2), [45, 25, 43], 89, 'ko')

**The difference between tuples and list are that tuples are immutable (means they cannot be changed) where as list are mutable (means they can be changed)**

**To convert and data type to tuple - use python tuple build in function**

In [103]:
li = [1,2,3,4,5]

In [104]:
tuple(li)

(1, 2, 3, 4, 5)

In [105]:
li

[1, 2, 3, 4, 5]

In [106]:
tu = tuple(li)

In [107]:
tu

(1, 2, 3, 4, 5)

**To convert and data type to list - use python build in function**

In [108]:
list(tu)

[1, 2, 3, 4, 5]

## Indexing

In [109]:
s = 'abcde'
l = [34,28,35,43,'hi']
tu = (112.0 , 'k')

#### iterable_name[index]

In [110]:
s[2]

'c'

In [111]:
l[4]

'hi'

In [112]:
tu[0]

112.0

### Indexing with nested list and tuples.

In [113]:
tu = ( (122,240) , [45,25,43] , 89 , 'ko' )

tu[0]

(122, 240)

In [114]:
tu[0][1]

240

### slicing 
sequence [start = 0 (default) : end : step = 1 (optional)]

In [115]:
lis = ['a' ,'b' ,'c' ,'d' ,'e' ,'f' ,'g' ,'h' ,'i' ,'j' ,'k']

In [116]:
lis

['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j', 'k']

In [117]:
lis[0:3]
#  thing to note is that the element at 3rd index is not included
#  in simple terms the END is not included

['a', 'b', 'c']

In [118]:
lis[:4]   #seq[:end]

['a', 'b', 'c', 'd']

In [119]:
lis[3:9]

['d', 'e', 'f', 'g', 'h', 'i']

In [120]:
lis[6:]

['g', 'h', 'i', 'j', 'k']

In [121]:
lis[:] # lis

['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j', 'k']

In [122]:
lis[0:9]

['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i']

In [123]:
x = lis[1:8]
x

['b', 'c', 'd', 'e', 'f', 'g', 'h']

In [124]:
lis

['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j', 'k']

In [125]:
lis[1:10:3]

['b', 'e', 'h']

In [126]:
lis

['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j', 'k']

In [127]:
lis[-3]

'i'

In [128]:
lis[-6:]

['f', 'g', 'h', 'i', 'j', 'k']

In [129]:
lis[-4:-1]

['h', 'i', 'j']

In [130]:
lis[-1:-4]

[]

In [131]:
lis

['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j', 'k']

In [132]:
lis[-1:-4:-1]

['k', 'j', 'i']

In [133]:
lis[:]

['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j', 'k']

In [134]:
lis[::-1]

['k', 'j', 'i', 'h', 'g', 'f', 'e', 'd', 'c', 'b', 'a']

In [135]:
lis[::-2]

['k', 'i', 'g', 'e', 'c', 'a']

In [136]:
x = lis[1:8:2]
x

['b', 'd', 'f', 'h']

### List methods

In [137]:
lis1 = [34,55,53,52,346]

In [138]:
lis1.append(10)
lis1
# adds the element at last

[34, 55, 53, 52, 346, 10]

In [139]:
#  .remove(element) searches and removes the very first occurence not all
lis1.remove(346)
lis1

[34, 55, 53, 52, 10]

In [140]:
#  count(element)
lis1.count(10)

1

In [141]:
lis1.sort()
lis1

[10, 34, 52, 53, 55]

In [142]:
lis1.sort(reverse = True)
lis1

[55, 53, 52, 34, 10]

In [143]:
# reverses the list
lis1.reverse()
lis1

[10, 34, 52, 53, 55]

In [144]:
# l1.insert(index,element)
lis1.insert(3,'a')
lis1

[10, 34, 52, 'a', 53, 55]

In [145]:
# pop(index) , if no item is passed it removes element at -1 index
lis1.pop(3)

'a'

In [146]:
lis1

[10, 34, 52, 53, 55]

In [147]:
# .index(element) - gives the index of element
lis1.index(53)

3

In [148]:
lis1

[10, 34, 52, 53, 55]

In [149]:
c = lis1

In [150]:
id(c)

2564958598848

In [151]:
id(lis1)

2564958598848

In [152]:
c

[10, 34, 52, 53, 55]

In [153]:
c.remove(10)

In [154]:
c

[34, 52, 53, 55]

In [155]:
lis1

[34, 52, 53, 55]

In [156]:
c = lis1.copy()

In [157]:
id(c)

2564958969152

In [158]:
id(lis1)

2564958598848

In [159]:
lis1

[34, 52, 53, 55]

In [160]:
c

[34, 52, 53, 55]

In [161]:
c.remove(52)

In [162]:
c

[34, 53, 55]

In [163]:
lis1

[34, 52, 53, 55]

In [164]:
lis2 = [87,78,56,543,24]

In [165]:
lis1.extend(lis2)

In [166]:
lis1

[34, 52, 53, 55, 87, 78, 56, 543, 24]

In [167]:
# clears the list
lis1.clear()
lis1

[]

In [168]:
lis1 = [34,55,53,52,346]

In [169]:
#  concatenating list
lis1 + lis2

[34, 55, 53, 52, 346, 87, 78, 56, 543, 24]

In [170]:
lis1

[34, 55, 53, 52, 346]

In [171]:
lis1[3]

52

In [172]:
# overwrite the element by index
lis1[3] = 'i am new element at index 3'

In [173]:
lis1

[34, 55, 53, 'i am new element at index 3', 346]

## Tuple methods

In [174]:
tu  = (1,2,'u')

In [175]:
tu[0] = 'a'
# this code can be applied on list because list are mutable

TypeError: 'tuple' object does not support item assignment

In [176]:
tu.count('u')

1

In [177]:
tu.index('u')

2

## Python identity operators
They are used to compare objects , not if they are equal , but if they are actually the same object , eith same memory location.

* **is**  - returns true if both objects are same object.

* **is not**  - returns true if both objects are not he same

In [178]:
lis1

[34, 55, 53, 'i am new element at index 3', 346]

In [180]:
lis1 is None # ==

False

In [181]:
lis1 is lis1

True

In [182]:
lis1 is not lis1 # !=

False

## Python membership operators
They are used to test if the sequence is present in an obeject.

* **in**  - returns true if a sequence with specified value is present in the object.

* **not in**  - returns true if a sequence with specified value is not present in the object.

In [184]:
s = 'hello man'

In [185]:
'A' in s

False

In [186]:
'he' in ['he' , 'a' , 1 , 2]

True

In [187]:
'hjfff' not in ('fsad', 1,2,3,4,True)

True

## Dictionaries

- Recognized by curly brackets {    }

- They are mutable and can be nested like list and tuples

- They have a key and value pair , so they are also called associative pair

- A given key can oly appear once in a dictionary and both key and value can be any data type - str,int,float

- Each and value is seperated by a colon(  :  )

- when we convert a dictionary to list or a tuple by list() then only keys come in list and tuple not the values

In [188]:
d = { 'ide' : 'sam'   ,  'age' :  23   ,  'hair' : 'black' ,     1 : 'id' ,        23.0 : 'float val'}
#      key    value      key   value

In [190]:
d

{'ide': 'sam', 'age': 23, 'hair': 'black', 1: 'id', 23.0: 'float val'}

In [191]:
type(d)

dict

In [192]:
# keys can repeat , but they will be always unique
{'ide' : 'x' , 'age' : 34 , 'ide' : 'y'}

{'ide': 'y', 'age': 34}

In [194]:
# values can repeat
{'ide' : 'x' , 'age' : 'x' , 'id' : 'x'}

{'ide': 'x', 'age': 'x', 'id': 'x'}

In [144]:
# in dictionaries the indexing is done using the key name

In [196]:
d['ide']

'sam'

In [197]:
d

{'ide': 'sam', 'age': 23, 'hair': 'black', 1: 'id', 23.0: 'float val'}

In [198]:
# changing the value of a key
d['ide'] = 'new'   
d

{'ide': 'new', 'age': 23, 'hair': 'black', 1: 'id', 23.0: 'float val'}

In [199]:
# adding a new and value
d['place'] = 'Delhi'
d

{'ide': 'new',
 'age': 23,
 'hair': 'black',
 1: 'id',
 23.0: 'float val',
 'place': 'Delhi'}

### Dictionary methods

In [202]:
d

{'ide': 'new',
 'age': 23,
 'hair': 'black',
 1: 'id',
 23.0: 'float val',
 'place': 'Delhi'}

In [138]:
print(d.items())

dict_items([('ide', 'new'), ('age', 23), ('hair', 'black'), (1, 'id'), (23.0, 'float val'), ('place', 'Delhi')])

In [203]:
type(d.items())

dict_items

In [204]:
list(d.items())   # returns a view object that displays list of dictionary (key,value) in tuple pairs

[('ide', 'new'),
 ('age', 23),
 ('hair', 'black'),
 (1, 'id'),
 (23.0, 'float val'),
 ('place', 'Delhi')]

In [140]:
d.keys()           #  returns view object  displaying a list of all keys

dict_keys(['ide', 'age', 'hair', 1, 23.0, 'place'])

In [141]:
d.values()

dict_values(['new', 23, 'black', 'id', 'float val', 'Delhi'])

In [205]:
tuple(d.values())

('new', 23, 'black', 'id', 'float val', 'Delhi')

In [206]:
d

{'ide': 'new',
 'age': 23,
 'hair': 'black',
 1: 'id',
 23.0: 'float val',
 'place': 'Delhi'}

In [210]:
# d.pop(keyname, message if key does not exist)  - it removes and returns element from a dictionary having given key. ,
# default_value is to be returned if key does not exist
d.pop('ssafasfa' , 'the mentioned key is not prenent hence cannot be removed')

'the mentioned key is not prenent hence cannot be removed'

In [211]:
# del d['ide']

In [214]:
d

{'age': 23, 'hair': 'black', 1: 'id', 23.0: 'float val', 'place': 'Delhi'}

In [213]:
tuple(d)

('age', 'hair', 1, 23.0, 'place')

In [215]:
# d.update(iterable)  - inserts the specified items to dictionary.
d1 = {'country' : 'India' , 'seasons' : 6}
d.update(d1)
d

{'age': 23,
 'hair': 'black',
 1: 'id',
 23.0: 'float val',
 'place': 'Delhi',
 'country': 'India',
 'seasons': 6}

## Sets
- every item is unique (no duplicates)
- To convert a list , tuple, dictionary to the set use inbuild function set()
- Indexing is not allowed in sets

In [216]:
{1,2,3}

{1, 2, 3}

In [217]:
{1,2,3,1,2,1,2,3,3,3,3,2,2,2,1,1,2}

{1, 2, 3}

In [218]:
type({1,2,1,1,1,1})

set

In [219]:
{3,7,9}[0]

<>:1: SyntaxWarning: 'set' object is not subscriptable; perhaps you missed a comma?
<>:1: SyntaxWarning: 'set' object is not subscriptable; perhaps you missed a comma?
C:\Users\PC\AppData\Local\Temp\ipykernel_15980\3422808132.py:1: SyntaxWarning: 'set' object is not subscriptable; perhaps you missed a comma?
  {3,7,9}[0]

TypeError: 'set' object is not subscriptable

### Sets methods

In [220]:
s = {1,2,23,54,1,1,3,5,3,5,7,9,6,2,3,5,1,1,3,5,7,5,3,6,7}
s

{1, 2, 3, 5, 6, 7, 9, 23, 54}

In [221]:
# s.remove(element)  removes the element
s.remove(54)
s

{1, 2, 3, 5, 6, 7, 9, 23}

In [172]:
# s.add(element)  - adds the element
s.add(67)
s

{1, 2, 3, 5, 6, 7, 9, 23, 67}

In [225]:
s1 = {1,2,3,4,5,6,7}
s2 = {5,2,6,89,65,2,34,64}

In [226]:
s1

{1, 2, 3, 4, 5, 6, 7}

In [227]:
s2

{2, 5, 6, 34, 64, 65, 89}

In [176]:
s1.difference(s2) # s1 - s2  = only elements in s1 , that is minus all the elemts of s2 ,does not update s1 or s2 just provides the diff.

{1, 3, 4, 7}

In [228]:
s1 - s2

{1, 3, 4, 7}

In [229]:
s1.intersection(s2)    # s1 and s2 ,s1 & s2 & s3 =  s1.intersection(*(any no. of sets) othersets) - returns only the common values of the set

{2, 5, 6}

In [179]:
s1.union(s2) # s1 or s2,s1 | s2 | s3- returns a set having all elements of all sets

{1, 2, 3, 4, 5, 6, 7, 34, 64, 65, 89}

In [180]:
s1.update(s2) # adds elements of s2 to s1 , works with list , tuple, dict , string

In [181]:
s1

{1, 2, 3, 4, 5, 6, 7, 34, 64, 65, 89}

In [231]:
set(  (1,2,3,3,3,3,3)   )

{1, 2, 3}

In [234]:
list(  {1,54,243232}   )

[243232, 1, 54]

### Range

* **Syntax**  - range( start = 0(optional) , stop , step = 1 (optional) )

* It is a generator. means to see its output we use list() , tuple() , set() .

* It works only with Integers means it does not support Float. (To use Float numbers we can numpy arange method or we can create a function.)

* All three arguments can be postive or negative.

In [236]:
range(20)

range(0, 20)

In [237]:
# To show that range function is generator . 
print(range(20))

range(0, 20)

In [239]:
list(   range(20)    )

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

In [188]:
range(20)[2]

2

In [241]:
list(range(10,40,2))

[10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38]

### Length -  Gives length of the iterable.

**Syntax**   -   len(iterable)

In [245]:
li = [1,2,3,4,5,6,7]
len(li)

7

### Max and MIn  - Gives maximum and minimum value of the iterable

**Syntax** - max( iterable )  ,  min( iterable )

In [246]:
li

[1, 2, 3, 4, 5, 6, 7]

In [247]:
max(li)

7

In [248]:
max(2,3,5,2,2,4,2,89)

89

In [167]:
min(li)

1

In [198]:
min(98,56,3,4,2,6,7)

2

### round()

Returns the rounded off number of a floating number after the decimal points.

**syntax**  -  round( number , ndigits(default) = 0 ) - ndigits - number of digits upto which we want the given number to be rounded off.

ndigits shold be smaller or equal to the number of digits after the decimal. if we put value of ndigit more ot will give same number without rounding it off.

In [199]:
round(1.543)

2

In [200]:
round(1.543 , 2)

1.54

### Sorted(iterable , reverse = False)
Returns a list of iterable in ascending order.

works when all the elements in the iterable are of same data type.

In [249]:
t = (100 ,54,34)
l = [9,8,3,8.5]

In [250]:
sorted(l)

[3, 8, 8.5, 9]

In [251]:
l

[9, 8, 3, 8.5]

In [203]:
sorted(t)

[34, 54, 100]

### enumerate( iterable , start = 0(optional) )
it generates a tuples of the element and its counter(can be said index if start not included) .To view should be called by list() ,for loop , tuple().

In [263]:
g = ['a' , 'f' , 'l']

In [264]:
enumerate(g)

In [266]:
list(enumerate(g ))

[(0, 'a'), (1, 'f'), (2, 'l')]

In [267]:
list(enumerate(g ,10))

[(10, 'a'), (11, 'f'), (12, 'l')]

In [268]:
dict( enumerate(g , 10) )

{10: 'a', 11: 'f', 12: 'l'}

### help(object) - displays the info of object passed in it.

In [271]:
help(min)

Help on built-in function min in module builtins:

min(...)
    min(iterable, *[, default=obj, key=func]) -> value
    min(arg1, arg2, *args, *[, key=func]) -> value

    With a single iterable argument, return its smallest item. The
    default keyword-only argument specifies an object to return if
    the provided iterable is empty.
    With two or more arguments, return the smallest argument.

### sum(iterable)
Adds all the elements of the sequence.

In [217]:
l = [1,2,3,4,8]
sum(l)

18

### reversed(sequence) -
Return the reversed iterator of a given sequence. to view pass in list() ,tuple()

In [218]:
l = (9,5,3,55,64,1,3)
reversed(l)

In [219]:
tuple(reversed(l))

(3, 1, 64, 55, 3, 5, 9)

### zip() 

It takes iterables and aggregates them and returns an iterator of tuple means to have a view we have to pass it through list(), tuple().

It stops aggregates as soon as any sequence ends.

In [220]:
l1 = ['a' , 'g' ,  1 , 5 , 9 , 8 ]
l2 = [ 9  ,  8  , 'j', 7 , 9 , 10 ]

list(  zip(  l1 ,  l2  )  )

[('a', 9), ('g', 8), (1, 'j'), (5, 7), (9, 9), (8, 10)]

In [221]:
l1 = ['a' , 'g' ,  1 , 5 , 9 , 8]
l2 = [ 9  ,  8  , 'j']

dict( zip(l1,l2) )

{'a': 9, 'g': 8, 1: 'j'}

### str method
##### .split(seperator(optional))
It returns a list of strings after breaking the given string by the seperator.

In [277]:
txt = "avbvcgbmn"

In [278]:
txt.split('b')

['av', 'vcg', 'mn']

In [279]:
txt.split('v')

['a', 'b', 'cgbmn']

In [280]:
'abc def'.split()

['abc', 'def']

### .replace( old , new , count (optional) )
replaces old values with new . works with strings only

In [281]:
s = 'abc,abc,abc,abc,abc,abc,abc,abc'
s.replace('ab','A')

'Ac,Ac,Ac,Ac,Ac,Ac,Ac,Ac'

In [282]:
s

'abc,abc,abc,abc,abc,abc,abc,abc'

In [228]:
s.replace('ab','A', 4)

'Ac,Ac,Ac,Ac,abc,abc,abc,abc'

In [230]:
s

'abc,abc,abc,abc,abc,abc,abc,abc'

In [231]:
s = s.replace('ab','A', 4)

In [232]:
s

'Ac,Ac,Ac,Ac,abc,abc,abc,abc'

In [187]:
# s.   # tab  -> gives you all the methods allowed with this data type

### Input

Allowing user Input

Input functions stores everything as a string

In [283]:
c = input()

This is a input function use case, and everthing that i write here will be stored in variable c as string

In [284]:
c

'This is a input function use case, and everthing that i write here will be stored in variable c as string'

In [285]:
type(c)

str

In [286]:
d = input()

4500

In [287]:
d

'4500'

In [288]:
d = int( input('Pass your Age ') )

Pass your Age 67

In [289]:
d

67

In [290]:
type(d)

int

In [291]:
name = input('Please Enter your Name ')
print('Hello' , name )

Please Enter your Name Rahul
Hello Rahul

### Logical operators
- and
- or

In [ ]:
# c1 and c2  and c3 and c4 and c5 ...............................  cn

In [5]:
( 2> 1) and (3 > 2)

True

In [292]:
(2 > 1) and (3 > 2) and (5 > 6)

False

(cond1) or (cond2) or (cond3) ........ or (condn)

In [9]:
(3 > 10) or (4 < 3) or (3 > 1)

True

In [10]:
(3 > 10) or (4 < 3) or (3 < 1)

False

In [11]:
( (3 >= 3)  or (4 > 10)  or (5 == 5) ) and ( (5 < 10) and (10 == 11) and (11 > 20) )

False

  ## While Loops
It repeatedly executes the statement until it is True.

**Syntax**
      while expression:
              statement(s)

They can make infinite loops. to break out of a infinite loop use ctrl+c

In [12]:
# infinite loop - do not run
while 3 < 5:
    print('This is a infinite loop')
    break

This is a infinite loop

In [293]:
i = 1

while i < 5:
    
    print(i , ' is value of stored in i variable')   
     
    i = i + 1
    
print('loop completed')

1  is value of stored in i variable
2  is value of stored in i variable
3  is value of stored in i variable
4  is value of stored in i variable
loop completed

## For Loops
It itereates over a sequence

In [1]:
seq = ['a','b','c','d','e']

In [2]:
for item in seq:
    print(item)

a
b
c
d
e

In [3]:
seq

['a', 'b', 'c', 'd', 'e']

In [4]:
item

'e'

In [5]:
for Hello in seq:
    print('hi')

hi
hi
hi
hi
hi

In [6]:
Hello

'e'

In [22]:
seq

['a', 'b', 'c', 'd', 'e']

In [7]:
for jelly in seq:
    print(jelly + jelly)

aa
bb
cc
dd
ee

In [28]:
jelly

'e'

In [11]:
for i in range(10):
    print('square of ', i, ' is = ',  i*i)

square of  0  is =  0
square of  1  is =  1
square of  2  is =  4
square of  3  is =  9
square of  4  is =  16
square of  5  is =  25
square of  6  is =  36
square of  7  is =  49
square of  8  is =  64
square of  9  is =  81

## if, else Statements
Runs **if** statement and if the statement fails than **else** statement is run.

if can be alone but else follows a if or while statement.

In [12]:
if 1 < 2:
    print('Yep!')

Yep!

In [16]:
if 1 > 2:
    print('Yep!')
    
if 3 == 3:
    print('hello')
    
if (3 == 3) and ( 9 < 8):
    print('hi')

hello

In [20]:
if 1 > 2:
    print('if conditon')
else:
    print('else condition')

else condition

In [22]:
if 1 < 2:
    print('if conditon')  
    
if 1 > 2:
    print('if 2nd conditon')
else:
    print('else condition')

if conditon
else condition

**In case of multiple if statements are used than all the if statements will run and the else follows the last if statement and there can be only one else statement.**

In [23]:
x = 10
y = 9

if x < y:
    print('y is greater than x')
    
if x == 10:
    print('x is 10')
    
if x < 4:
    print ('4 is greater than x')
    
else:
    print('else statement ran')

x is 10
else statement ran

In [24]:
x = 10
if x == 10:
    if x < 11:
        print('x is equal to 10 and smaller than 11')

x is equal to 10 and smaller than 11

In [284]:
# anyting can come inside any thing
# while:
#     if:
#         for l:
#             while:
#                 for:
#                     if: max(l) == 5:
#                             print('hello')
#                     else:
#                         for l: 
#                              while

## if ,elif and else statements
* elif = else if
* we use **elif** with **if** statement they can not be used independently.
* if there is **if** and **elif** statements in the program then , if and elif statement breaks the code if they are true.

In [29]:
if 2 == 2:
    print('first')
elif 3 == 3:
    print('middle')
else:
    print('Last')

first

In [36]:
if 2 != 2:
    print('2')
    
elif 3 != 3:
    print('3')
    
elif 4 == 4:
    print('4')
    
elif 5 != 5:
    print('5')
    
else:
    print('else')

4

### Error Handling  
#### try ,except

The python program terminates as soon as it encounters error.In python it can be syntax error or n exception. syntax error occurs when there is incorrect syntax like incomplete brackets , extra brackets ,wrong spelling

**try :**

       run this code
       
      
**except:**

       execute this code when there is a exception  / error in try block

In [37]:
print(5/0)
print('hi')

ZeroDivisionError: division by zero

In [38]:
try:
    print(5/0)
except:
    print('division by 0 not possible')
    
print('hi')

division by 0 not possible
hi

In [39]:
for i in [3,4,5,'a',5,7]:
    print(i + 8)

11
12
13

TypeError: can only concatenate str (not "int") to str

In [40]:
inp = [3,4,5,'a',5,7,[1,2,3]]

for i in inp:
    try:
        print(i , 'sum ' , i + 8)
    except:
        print(i , type(i) , 'In this try has failed, hence except ran')

3 sum  11
4 sum  12
5 sum  13
a <class 'str'> In this try has failed, hence except ran
5 sum  13
7 sum  15
[1, 2, 3] <class 'list'> In this try has failed, hence except ran

### pass 
If nothing is supoosed to happen in a code block , a pass is needed for such a block to not produce error.

In [41]:
5/0

ZeroDivisionError: division by zero

In [44]:
try:
    5/0
except:
    pass

### break
It breaks the loop and comes out of the loop.

In [45]:
while 3 < 5:
    print('this is a infinite loop')
    break

this is a infinite loop

In [46]:
for i in [10,2,'suspicious person',4,5,6]:
    
    if i == 'suspicious person':
        print('Alert')
        break
        
    print('Allow ',i)

Allow  10
Allow  2
Alert

### continue
The continue is preceeded by a condition . if the condition is True than continue will not run the code below and will move back starting step of the loop for processing next step.

In [48]:
for person in ['norma1' , 'vip' , 'normal_1' , 'vip' , 'normal_2']:
    
    if person == 'vip':
        continue  # prevents the further procedure to happen

    # further procedure to happen with the person
    print(person , 'security check will happen')

norma1 security check will happen
normal_1 security check will happen
normal_2 security check will happen

### Python Functions
- They are block of codes which run when called upon , they are made to decrease our work for writing the code again and again.

- They start with def which stands for define.

- They have small paranthesis with them followed by colon (:) which gives indentation to next line.

- Indentation is necsaary to make a particular code belong to a function

- They are called by using function name with small brackets and with parameters if defined.

In [49]:
# defining the function
def myfunction():
    print('hi')

In [51]:
# calling the function
myfunction()

hi

In [52]:
#  Function with parameters
def addfunction(a , b):
    print('add ', a + b)

In [53]:
addfunction()

TypeError: addfunction() missing 2 required positional arguments: 'a' and 'b'

In [54]:
addfunction(10 , 8)
# addfunction(a = 10 , b = 8)   # recommended

add  18

In [55]:
b

NameError: name 'b' is not defined

In [59]:
addfunction(b = 2 , a = 5)

add  7

In [57]:
addfunction(b = ['a','b'] , a = ['c', 'd'])

add  ['c', 'd', 'a', 'b']

In [60]:
# calling one fuction inside other
def subtraction_addition(ele1 , ele2):
    print('sub ' , ele1 - ele2)
    addfunction(ele1 , ele2)
    myfunction()

In [61]:
subtraction_addition(ele1 = 10, ele2 = 9)

sub  1
add  19
hi

In [62]:
# specifying the parameter default value.

def add( a , b = 10):
    print(a + b)
    
    
add(5)

15

In [63]:
#  we can update the defined value by passing new value.
add(10,35)

45

In [64]:
def add(a = 10 , b = 10):
    print(a + b)

In [65]:
add(a = 45)

55

### return
A return statement causes our function to exit and hand back a value to the caller.

As soon as return is encountered , function exits without running the code written below return in function.

In [66]:
def function(a , b):
    print('in function')
    print(a  +  b)

In [67]:
function(2,4)

in function
6

In [68]:
x = function(2,4)

in function
6

In [75]:
x

In [76]:
type(x)

NoneType

In [83]:
def function(a , b):
    print('in function')
    return a  +  b
    print('this is after return keyword hence will not be executed')

In [84]:
x = function(2,4)

in function

In [85]:
x

6

In [86]:
y = x + x
print(y)

12

In [99]:
# multiple args
def many_args_fun(*mult_args):
    
    print(mult_args)
    print(type(mult_args))
    
    print(sum(mult_args))
    print('avg' , sum(mult_args) / len(mult_args))

In [100]:
many_args_fun(  100 , 20 , 4.8 , 5 , 6 , 7 , 88 , 9 , 9 , 456 , 4 , 35 , 3 , 356 , 756 , 6  )

(100, 20, 4.8, 5, 6, 7, 88, 9, 9, 456, 4, 35, 3, 356, 756, 6)
<class 'tuple'>
1864.8
avg 116.55

In [101]:
# multiple keyword args
def many_args_fun(**keyword_args):
    
    print(keyword_args)
    print(type(keyword_args))
    
    print(f" {keyword_args['name']} is from {keyword_args['city']} which is in {keyword_args['country']} ")
    
    # add this dic to dataframe which has all the users information

In [94]:
# many_args_fun('sam' , 34 , 'Delhi' , 'India')

many_args_fun(name = 'sam' , age = 34 , city = 'Delhi' , country = 'India' , study = 'bachelors')

{'name': 'sam', 'age': 34, 'city': 'Delhi', 'country': 'India', 'study': 'bachelors'}
<class 'dict'>
 sam is from Delhi which is in India

### Lambda Function

In [102]:
def li(a):
    return(a + 10)

li(6)

16

In [103]:
lambda a : a + 10

In [107]:
# def bb(a,b,c):
#     return a+b+c


bb = lambda a , b , c : a + b + c

In [109]:
bb(3 , 4 , 5)

### List comprehension

In [111]:
l = []
for i in range(10):
    l.append(i ** 2)

In [112]:
l

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [115]:
l = [i**2 for i in range(10)]
l

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [115]:
l = {i for i in range(10)}
l

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9}

In [121]:
l = {i : i ** 2  for i in range(10)}
l

# l = {}
# for i in range(10):
#     l[i] = i ** 2

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81}

### Class

In [122]:
def add(a,b):
    print( a + b )
    
def sub():
    print(a-b)

In [123]:
add(3,4)

7

In [124]:
sub()

NameError: name 'a' is not defined

In [104]:
# class cal:  provide solustion to above kind of problem
#      def add(a,b):
#         print( a + b )
    
#      def sub():
#         print(a-b)

In [130]:
class calculator:
    
    ## functions inside a class are known as methods
    
    def __init__(self, a , b):
        self.a = a
        self.b = b
        
    def add(self):
        print(self.a + self.b)
        
    def sub(self):
        print(self.a - self.b)
        
    def mul(self):
        print(self.a * self.b)

In [131]:
case1 = calculator(3,4)

In [132]:
case1.add()

7

In [133]:
case1.sub()

-1

In [134]:
case1.mul()

12

In [135]:
case1 = calculator(3,4)  # case1 variable over here is a instance of class calculator
case2 = calculator(1800,12) # case2 variable over here is a instance of class calculator
case3 = calculator(10,1200) # case2 variable over here is a instance of class calculator

In [139]:
case2.add()
case1.mul()
case2.mul()

1812
12
21600

In [140]:
class animal:
    
    def __init__(self , a):
        self.a = a
        
    # funtions inside class are called as methods to that class
    def sound(self):
        if self.a == 'dog':
            print('bark')
        if self.a == 'Lion':
            print('roar')
        
    def size(self):       
        if self.a == 'dog':
            print('small')
        if self.a == 'Lion':
            print('mid')

In [141]:
animal_1 = animal('Lion')
animal_2 = animal('dog')

In [142]:
animal_1.sound()
animal_1.size()

roar
mid

In [143]:
animal_2.sound()
animal_2.size()

bark
small

In [144]:
class account_handling:
    
    def __init__(self , **kwargs):
        self.all_args = kwargs
        
    def expenditure(self):
        return sum(self.all_args['exp'])
    
    def inc(self):
        return sum(self.all_args['income'])
    
    def profit(self):
        return self.all_args['income'] - self.all_args['exp']

In [145]:
org1 = account_handling(exp = 56000 , income = 60000)
org2 = account_handling(exp = 46000 , income = 6560000)
org3 = account_handling(exp = 76000 , income = 7660000)
org4 = account_handling(exp = 96000 , income = 6660000)

In [146]:
org2.profit()

6514000

In [147]:
org1.profit()

4000

In [148]:
org3.profit() - org1.profit()

7580000